body{
  background-color: var(--dark);
  margin: 0;
  font-family: sans-serif;
  color: var(--white);
}

h2{
  margin: 0;
  padding: 0;
}

input{
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--darker);
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  color: var(--primary);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
  background-color: var(--darker);
}

/* td:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
} */

tr{
  padding-bottom: 10px;
}

.flex-container{
  display: flex;
}

.hidden{
  display: none;
}

.containerMargins{
  margin: 20px;
}

.redirects{
  /* display: flex; */
  /* flex: 1 0 0; */
}

.redirect{
  background-color: var(--darker);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
